	<!DOCTYPE html>
	<html lang="en">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="./assets/favicon.png">
		<!-- Author Meta -->
		<meta name="author" content="">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>Home - JobsClub Multi-Purpose Jobsite Portal</title>



		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="css/linearicons.css">
			<link rel="stylesheet" href="css/font-awesome.min.css">
			<link rel="stylesheet" href="css/bootstrap.css">
			<link rel="stylesheet" href="css/magnific-popup.css">
			<link rel="stylesheet" href="css/nice-select.css">					
			<link rel="stylesheet" href="css/animate.min.css">
			<link rel="stylesheet" href="css/owl.carousel.min.css">
			<link rel="stylesheet" href="css/owl.theme.min.css">
			<link rel="stylesheet" href="css/owl.transitions.css">
			<link rel="stylesheet" href="css/main.css">
		</head>
		<body>
			<!-- #header start -->
			  <header id="header">
			    <div class="container">
			    	<div class="row align-items-center d-flex">
				      <div id="logo">
				        <a href="index.html"><img src="./assets/logo.png" alt="" title="" /></a>
				      </div>
				      <nav id="nav-menu-container">
				        <ul class="nav-menu">
				          <li class="menu-active menu-has-children"><a href="index.html">Home</a>
				          	<ul>
				          		<li><a href="index.html">Home1</a></li>
								<li><a href="index2.html">Home2</a></li>
								<li><a href="index3.html">Home3</a></li>
								<li><a href="index4.html">Home4</a></li>
								<li><a href="index5.html">Home5</a></li>
				            </ul>
				          </li>
				          <li class="menu-has-children"><a href="">For Canidates</a>
				            <ul>
				            	<li><a href="canidate_applied_jobs.html">Applied Jobs</a></li>
						        <li><a href="canidate_job_alerts.html">Job Alerts</a></li>
						        <li><a href="canidate_listings.html">Canidate Listings</a></li>
						        <li><a href="canidate_profile.html">Canidate Profile</a></li>
								<li><a href="canidate_resume.html">Canidate Resume</a></li>
								<li><a href="canidate_resume_manger.html">Resume Manager</a></li>
								<li><a href="canidate_saved_jobs.html">Saved Jobs</a></li>
								<li><a href="canidate_change_password.html">Change Password</a></li>
				            </ul>
				          </li>
				          <li class="menu-has-children"><a href="">For Employers</a>
				            <ul>
				            	<li><a href="employer_profile.html">Employer Profile</a></li>
				            	<li><a href="employer_list.html">Employer List</a></li>
						        <li><a href="employer_list_detail.html">Employer List Detail</a></li>
						        <li><a href="employer_manage_jobs.html">Manage Jobs</a></li>
						        <li><a href="employer_shortlist_resume.html">Shortlist Resume</a></li>
								<li><a href="employer_packages.html">Packages</a></li>
								<li><a href="employer_transactions.html">Transactions</a></li>
								<li><a href="employer_post_job.html">Post a job</a></li>
								<li><a href="employer_job_alerts.html">Job Alerts</a></li>
								<li><a href="employer_change_password.html">Change Password</a></li>
				            </ul>
				          </li>
				          <li class="menu-has-children"><a href="">Pages</a>
				            <ul>
				            	<li><a href="post_a_job.html">Post A Job</a></li>
				            	<li><a href="category.html">Job Category</a></li>
				            	<li><a href="about-us.html">About Us</a></li>
				            	<li><a href="contact.html">Contact</a></li>
						        <li><a href="category.html">Category</a></li>
						        <li><a href="price.html">Price</a></li>
						        <li><a href="blog-home.html">Blog</a></li>
						        <li><a href="blog-single.html">Blog Detail</a></li>
						        <li><a href="404.html">404 Page</a></li>
								<li><a href="elements.html">elements</a></li>
								<li><a href="search.html">search</a></li>
								<li><a href="single.html">single</a></li>
								<li><a href="logged_navbar.html">Signed In</a></li>
								<li><a href="signin.html">Signin Page</a></li>
								<li><a href="signup.html">Signup Page</a></li>
				            </ul>
				          </li>  
				          <li><a class="ticker-btn-nav btn_login mt-1" href="signin.html"><i class="lnr lnr-user pr-1"></i> Login</a></li>
				    	  <li><a class="nav_btn mt-1" href="signup.html"><i class="lnr lnr-briefcase pr-1"></i> Create Account</a> </li>				          				          
				        </ul>
				      </nav><!-- #nav-menu-container -->		    		
			    	</div>
			    </div>
			  </header><!-- #header End-->


			<!-- start banner Area -->
			<section class="banner-area relative" id="home" style="background: url(../images/banners/o1.png) center;
    background-size: cover;">	
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row fullscreen d-flex align-items-center justify-content-center">
						<div class="banner-content col-lg-12">
							<h1 class="text-white">
								Over <span>10,000+</span> jobs are waiting for you			
							</h1>	
							<form action="search.html" class="serach-form-area">
								<div class="row justify-content-center form-wrap no-gutters">
									<div class="col-lg-4 form-cols">
										<input type="text" class="form-control" name="search" placeholder="what are you looging for?">
									</div>
									<div class="col-lg-3 form-cols">
										<div class="default-select" id="default-selects">
											<select>
												<option value="1">Select area</option>
												<option value="2">Dhaka</option>
												<option value="3">Rajshahi</option>
												<option value="4">Barishal</option>
												<option value="5">Noakhali</option>
											</select>
										</div>
									</div>
									<div class="col-lg-3 form-cols">
										<div class="default-select" id="default-selects2">
											<select>
												<option value="1">All Category</option>
												<option value="2">Medical</option>
												<option value="3">Technology</option>
												<option value="4">Goverment</option>
												<option value="5">Development</option>
											</select>
										</div>										
									</div>
									<div class="col-lg-2 form-cols">
									    <a class="btn btn-info"  href="search.html">
									      <i class="lnr lnr-magnifier text-white"></i> Search
									    </a>
									</div>								
								</div>
							</form>	
							<p class="text-white"> <span>Search by tags:</span> Tecnology, Business, Consulting, IT Company, Design, Development</p>
						</div>											
					</div>
				</div>
			</section>
			<!-- End banner Area -->	
			
			<!-- Start feature-cat Area -->
			<section class="feature-cat-area section-full" id="category">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-10">
							<div class="title text-center">
								<h1 class="mb-10">Featured Job Categories</h1>
								<p>Who are in extremely love with eco friendly system.</p>
							</div>
						</div>
					</div>						
					<div class="row">
						<div class="col-lg-2 col-md-4 col-sm-6">
							<div class="single-fcat">
								<a href="category.html">
									<img src="./assets/o1.png" alt="">
								</a>
								<p>Accounting</p>
							</div>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-6">
							<div class="single-fcat">
								<a href="category.html">
									<img src="./assets/o2.png" alt="">
								</a>
								<p>Development</p>
							</div>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-6">
							<div class="single-fcat">
								<a href="category.html">
									<img src="./assets/o3.png" alt="">
								</a>
								<p>Technology</p>
							</div>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-6">
							<div class="single-fcat">
								<a href="category.html">
									<img src="./assets/o4.png" alt="">
								</a>
								<p>Media & News</p>
							</div>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-6">
							<div class="single-fcat">
								<a href="category.html">
									<img src="./assets/o5.png" alt="">
								</a>
								<p>Medical</p>
							</div>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-6">
							<div class="single-fcat">
								<a href="category.html">
									<img src="./assets/o6.png" alt="">
								</a>
								<p>Goverment</p>
							</div>			
						</div>																											
					</div>
				</div>	
			</section>
			<!-- End feature-cat Area -->
			
			<!-- Start post Area -->
			<section class="post-area section-full bg-gray">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-10">
							<div class="title text-center">
								<h1 class="mb-10">Jobs Available</h1>
								<p>Who are in extremely love with eco friendly system.</p>
							</div>
						</div>
					</div>
					<div class="row justify-content-center d-flex">
						<div class="col-lg-8 post-list">
							<ul class="cat-list">
								<li><a href="#">Recent</a></li>
								<li><a href="#">Full Time</a></li>
								<li><a href="#">Intern</a></li>
								<li><a href="#">part Time</a></li>
							</ul>
							<div class="single-post d-flex flex-row">
								<div class="thumb">
									<img src="./assets/o1.png" alt="">
								</div>
								<div class="details">
									<div class="title d-flex flex-row justify-content-between">
										<div class="titles">
											<a href="single.html"><h4>Creative Art Designer</h4></a>
											<h6>Premium Labels Limited</h6>					
										</div>
										
									</div>
									<div class="job-listing-footer">
										<ul>
											<li><i class="lnr lnr-map-marker"></i> London, England</li>
											<li><i class="lnr lnr-briefcase"></i> Full Time</li>
											<li><i class="lnr lnr-apartment"></i> Marketing</li>
											<li><i class="lnr lnr-clock"></i> 2 days ago</li>
										</ul>									</div>
								</div>
								<div class="job-listing-btns">
									<ul class="btns">
										<li><a href="#"><span class="lnr lnr-heart"></span></a></li>
										<li><a href="#">Apply</a></li>
									</ul>
								</div>
							</div>
							<div class="single-post d-flex flex-row">
								<div class="thumb">
									<img src="./assets/o1.png" alt="">
								</div>
								<div class="details">
									<div class="title d-flex flex-row justify-content-between">
										<div class="titles">
											<a href="single.html"><h4>Creative Art Designer</h4></a>
											<h6>Premium Labels Limited</h6>					
										</div>
										
									</div>
									<div class="job-listing-footer">
										<ul>
											<li><i class="lnr lnr-map-marker"></i> London, England</li>
											<li><i class="lnr lnr-briefcase"></i> Full Time</li>
											<li><i class="lnr lnr-apartment"></i> Marketing</li>
											<li><i class="lnr lnr-clock"></i> 2 days ago</li>
										</ul>									</div>
								</div>
								<div class="job-listing-btns">
									<ul class="btns">
										<li><a href="#"><span class="lnr lnr-heart"></span></a></li>
										<li><a href="#">Apply</a></li>
									</ul>
								</div>
							</div>
							<div class="single-post d-flex flex-row">
								<div class="thumb">
									<img src="/.assets/o1.png" alt="">
								</div>
								<div class="details">
									<div class="title d-flex flex-row justify-content-between">
										<div class="titles">
											<a href="single.html"><h4>Creative Art Designer</h4></a>
											<h6>Premium Labels Limited</h6>					
										</div>
										
									</div>
									<div class="job-listing-footer">
										<ul>
											<li><i class="lnr lnr-map-marker"></i> London, England</li>
											<li><i class="lnr lnr-briefcase"></i> Full Time</li>
											<li><i class="lnr lnr-apartment"></i> Marketing</li>
											<li><i class="lnr lnr-clock"></i> 2 days ago</li>
										</ul>									</div>
								</div>
								<div class="job-listing-btns">
									<ul class="btns">
										<li><a href="#"><span class="lnr lnr-heart"></span></a></li>
										<li><a href="#">Apply</a></li>
									</ul>
								</div>
							</div>
							<div class="single-post d-flex flex-row">
								<div class="thumb">
									<img src="./assets/o1.png" alt="">
								</div>
								<div class="details">
									<div class="title d-flex flex-row justify-content-between">
										<div class="titles">
											<a href="single.html"><h4>Creative Art Designer</h4></a>
											<h6>Premium Labels Limited</h6>					
										</div>
										
									</div>
									<div class="job-listing-footer">
										<ul>
											<li><i class="lnr lnr-map-marker"></i> London, England</li>
											<li><i class="lnr lnr-briefcase"></i> Full Time</li>
											<li><i class="lnr lnr-apartment"></i> Marketing</li>
											<li><i class="lnr lnr-clock"></i> 2 days ago</li>
										</ul>									</div>
								</div>
								<div class="job-listing-btns">
									<ul class="btns">
										<li><a href="#"><span class="lnr lnr-heart"></span></a></li>
										<li><a href="#">Apply</a></li>
									</ul>
								</div>
							</div>				
							<div class="single-post d-flex flex-row">
								<div class="thumb">
									<img src="./assets/o1.png" alt="">
								</div>
								<div class="details">
									<div class="title d-flex flex-row justify-content-between">
										<div class="titles">
											<a href="single.html"><h4>Creative Art Designer</h4></a>
											<h6>Premium Labels Limited</h6>					
										</div>
										
									</div>
									<div class="job-listing-footer">
										<ul>
											<li><i class="lnr lnr-map-marker"></i> London, England</li>
											<li><i class="lnr lnr-briefcase"></i> Full Time</li>
											<li><i class="lnr lnr-apartment"></i> Marketing</li>
											<li><i class="lnr lnr-clock"></i> 2 days ago</li>
										</ul>									</div>
								</div>
								<div class="job-listing-btns">
									<ul class="btns">
										<li><a href="#"><span class="lnr lnr-heart"></span></a></li>
										<li><a href="#">Apply</a></li>
									</ul>
								</div>
							</div>
							<div class="single-post d-flex flex-row">
								<div class="thumb">
									<img src="./assets/o1.png" alt="">
								</div>
								<div class="details">
									<div class="title d-flex flex-row justify-content-between">
										<div class="titles">
											<a href="single.html"><h4>Creative Art Designer</h4></a>
											<h6>Premium Labels Limited</h6>					
										</div>
										
									</div>
									<div class="job-listing-footer">
										<ul>
											<li><i class="lnr lnr-map-marker"></i> London, England</li>
											<li><i class="lnr lnr-briefcase"></i> Full Time</li>
											<li><i class="lnr lnr-apartment"></i> Marketing</li>
											<li><i class="lnr lnr-clock"></i> 2 days ago</li>
										</ul>									</div>
								</div>
								<div class="job-listing-btns">
									<ul class="btns">
										<li><a href="#"><span class="lnr lnr-heart"></span></a></li>
										<li><a href="#">Apply</a></li>
									</ul>
								</div>
							</div>
							<div class="single-post d-flex flex-row">
								<div class="thumb">
									<img src="./assets/o1.png" alt="">
								</div>
								<div class="details">
									<div class="title d-flex flex-row justify-content-between">
										<div class="titles">
											<a href="single.html"><h4>Creative Art Designer</h4></a>
											<h6>Premium Labels Limited</h6>					
										</div>
										
									</div>
									<div class="job-listing-footer">
										<ul>
											<li><i class="lnr lnr-map-marker"></i> London, England</li>
											<li><i class="lnr lnr-briefcase"></i> Full Time</li>
											<li><i class="lnr lnr-apartment"></i> Marketing</li>
											<li><i class="lnr lnr-clock"></i> 2 days ago</li>
										</ul>									</div>
								</div>
								<div class="job-listing-btns">
									<ul class="btns">
										<li><a href="#"><span class="lnr lnr-heart"></span></a></li>
										<li><a href="#">Apply</a></li>
									</ul>
								</div>
							</div>
							<div class="single-post d-flex flex-row">
								<div class="thumb">
									<img src="./assets/o1.png" alt="">
								</div>
								<div class="details">
									<div class="title d-flex flex-row justify-content-between">
										<div class="titles">
											<a href="single.html"><h4>Creative Art Designer</h4></a>
											<h6>Premium Labels Limited</h6>					
										</div>
										
									</div>
									<div class="job-listing-footer">
										<ul>
											<li><i class="lnr lnr-map-marker"></i> London, England</li>
											<li><i class="lnr lnr-briefcase"></i> Full Time</li>
											<li><i class="lnr lnr-apartment"></i> Marketing</li>
											<li><i class="lnr lnr-clock"></i> 2 days ago</li>
										</ul>									</div>
								</div>
								<div class="job-listing-btns">
									<ul class="btns">
										<li><a href="#"><span class="lnr lnr-heart"></span></a></li>
										<li><a href="#">Apply</a></li>
									</ul>
								</div>
							</div>
	
							
							<a class="text-uppercase loadmore-btn mx-auto d-block" href="category.html">Load More job Posts</a>

						</div>
						<div class="col-lg-4 sidebar">
							<div class="single-slidebar">
								<h4>Jobs by Location</h4>
								<ul class="cat-list">
									<li><a class="justify-content-between d-flex" href="category.html"><p>New York</p><span>37</span></a></li>
									<li><a class="justify-content-between d-flex" href="category.html"><p>Park Montana</p><span>57</span></a></li>
									<li><a class="justify-content-between d-flex" href="category.html"><p>Atlanta</p><span>33</span></a></li>
									<li><a class="justify-content-between d-flex" href="category.html"><p>Arizona</p><span>36</span></a></li>
									<li><a class="justify-content-between d-flex" href="category.html"><p>Florida</p><span>47</span></a></li>
									<li><a class="justify-content-between d-flex" href="category.html"><p>Rocky Beach</p><span>27</span></a></li>
									<li><a class="justify-content-between d-flex" href="category.html"><p>Chicago</p><span>17</span></a></li>
								</ul>
							</div>

							<div class="single-slidebar">
								<h4>Top rated job posts</h4>
								<div class="active-relatedjob-carusel">
									<div class="single-rated">
										<img class="img-fluid" src="./assets/r1.jpg" alt="">
										<a href="single.html"><h4>Creative Art Designer</h4></a>
										<h6>Premium Labels Limited</h6>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut dolore magna aliqua.
										</p>
										<h5>Job Nature: Full time</h5>
										<p class="address"><span class="lnr lnr-map"></span> 56/8, Panthapath Dhanmondi Dhaka</p>
										<p class="address"><span class="lnr lnr-database"></span> 15k - 25k</p>
										<a href="#" class="btns text-uppercase">Apply job</a>
									</div>
									<div class="single-rated">
										<img class="img-fluid" src="./assets/r1.jpg" alt="">
										<a href="single.html"><h4>Creative Art Designer</h4></a>
										<h6>Premium Labels Limited</h6>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut dolore magna aliqua.
										</p>
										<h5>Job Nature: Full time</h5>
										<p class="address"><span class="lnr lnr-map"></span> 56/8, Panthapath Dhanmondi Dhaka</p>
										<p class="address"><span class="lnr lnr-database"></span> 15k - 25k</p>
										<a href="#" class="btns text-uppercase">Apply job</a>
									</div>
									<div class="single-rated">
										<img class="img-fluid" src="./assets/r1.jpg" alt="">
										<a href="single.html"><h4>Creative Art Designer</h4></a>
										<h6>Premium Labels Limited</h6>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut dolore magna aliqua.
										</p>
										<h5>Job Nature: Full time</h5>
										<p class="address"><span class="lnr lnr-map"></span> 56/8, Panthapath Dhanmondi Dhaka</p>
										<p class="address"><span class="lnr lnr-database"></span> 15k - 25k</p>
										<a href="#" class="btns text-uppercase">Apply job</a>
									</div>																		
								</div>
							</div>							

							<div class="single-slidebar">
								<h4>Carrer Advice Blog</h4>
								<div class="blog-list">
									<div class="single-blog " style="background:#000 url(./assets/blog1.jpg);">
										<a href="single.html"><h4>Home Audio Recording <br>
										For Everyone</h4></a>
										<div class="meta justify-content-between d-flex">
											<p>
												02 Hours ago
											</p>
											<p>
												<span class="lnr lnr-heart"></span>
												06
												 <span class="lnr lnr-bubble"></span>
												02
											</p>
										</div>
									</div>
									<div class="single-blog " style="background:#000 url(./assets/blog2.jpg);">
										<a href="single.html"><h4>Home Audio Recording <br>
										For Everyone</h4></a>
										<div class="meta justify-content-between d-flex">
											<p>
												02 Hours ago
											</p>
											<p>
												<span class="lnr lnr-heart"></span>
												06
												 <span class="lnr lnr-bubble"></span>
												02
											</p>
										</div>
									</div>
									<div class="single-blog " style="background:#000 url(./assets/blog1.jpg);">
										<a href="single.html"><h4>Home Audio Recording <br>
										For Everyone</h4></a>
										<div class="meta justify-content-between d-flex">
											<p>
												02 Hours ago
											</p>
											<p>
												<span class="lnr lnr-heart"></span>
												06
												 <span class="lnr lnr-bubble"></span>
												02
											</p>
										</div>
									</div>																		
								</div>
							</div>							

						</div>
					</div>
				</div>	
			</section>
			<!-- End post Area -->

			<!-- Start Cities Area -->
			<section class="featured-cities-area section-full" id="Cities" style="background-color: white;">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-10">
							<div class="title text-center">
								<h1 class="mb-10">Featured Cities</h1>
								<p>Who are in extremely love with eco friendly system.</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3 col-sm-12">
							<a href="" class="photo-box" data-background-image="./assets/featured-city-01.jpeg" style="background-image: url(./assets/featured-city-01.jpeg);">
								<div class="photo-box-content">
									<h3>San Francisco</h3>
									<span>376 Jobs</span>
								</div>
							</a>
						</div>
						<div class="col-md-3 col-sm-12">
							<a href="" class="photo-box" data-background-image="./assets/featured-city-02.jpeg" style="background-image: url(./assets/featured-city-02.jpeg);">
								<div class="photo-box-content">
									<h3>Los Angles</h3>
									<span>1076 Jobs</span>
								</div>
							</a>
						</div>
						<div class="col-md-3 col-sm-12">
							<a href="" class="photo-box" data-background-image="./assets/featured-city-03.jpeg" style="background-image: url(./assets/featured-city-03.jpeg);">
								<div class="photo-box-content">
									<h3>Dubai</h3>
									<span>976 Jobs</span>
								</div>
							</a>
						</div>
						<div class="col-md-3 col-sm-12">
							<a href="" class="photo-box" data-background-image="./assets/featured-city-04.jpeg" style="background-image: url(./assets/featured-city-04.jpeg);">
								<div class="photo-box-content">
									<h3>London</h3>
									<span>650 Jobs</span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</section>
			<!-- End cities Area -->
				

			<!-- Start call-to-action Area -->
			<section class="callto-action-area section-half" id="join" style="background:linear-gradient(rgba(46, 45, 47, 0.74), rgba(7, 7, 7, 0.65)), url(./assets/intro.jpeg);">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content col-lg-9">
							<div class="title text-center">
								<h1 class="mb-10 text-white">Join us today without any hesitation</h1>
								<p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
								<a class="primary-btn" href="#">I am a Candidate</a>
								<a class="primary-btn" href="#">Request Free Demo</a>
							</div>
						</div>
					</div>	
				</div>	
			</section>
			<!-- End call-to-action Area -->

			<!-- Start download Area -->
			<section class="download-area section-gap" id="app">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 download-left">
							<img class="img-fluid" src="./assets/d1.png" alt="">
						</div>
						<div class="col-lg-6 download-right">
							<h1>Download the <br>
							Job Listing App Today!</h1>
							<p class="subs">
								It won’t be a bigger problem to find one video game lover in your neighbor. Since the introduction of Virtual Game, it has been achieving great heights so far as its popularity and technological advancement are concerned.
							</p>
							<div class="d-flex flex-row">
								<div class="buttons">
									<i class="fa fa-apple" aria-hidden="true"></i>
									<div class="desc">
										<a href="#">
											<p>
												<span>Available</span> <br>
												on App Store
											</p>
										</a>
									</div>
								</div>
								<div class="buttons">
									<i class="fa fa-android" aria-hidden="true"></i>
									<div class="desc">
										<a href="#">
											<p>
												<span>Available</span> <br>
												on Play Store
											</p>
										</a>
									</div>
								</div>									
							</div>						
						</div>
					</div>
				</div>	
			</section>
			<!-- End download Area -->

			<!-- Start pricing Area -->
			<section class="section-full pricing_plan" id="pricing_plan" style="background:linear-gradient(rgba(46, 45, 47, 0.74), rgba(7, 7, 7, 0.65)), url(./assets/pricing.jpeg);">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-10">
							<div class="title text-center">
								<h1 class="mb-10 text-white">Pricing Plan</h1>
								<p class="text-white">Who are in extremely love with eco friendly system.</p>
							</div>
						</div>
					</div>
				    <div class="row">
				        <div class="col-md-3 col-sm-6">
				            <div class="pricingTable">
				                <div class="pricingTable-header">
				                    <div class="heading">
				                        <h3>Standard</h3>
				                        <span>Lorem ipsum</span>
				                    </div>
				                    <span class="price-value">$<span>10.9</span><span class="mo">/month</span></span>
				                </div>
				                <div class="pricingContent">
				                    <ul>
				                        <li>50GB Disk Space</li>
				                        <li>50 Email Accounts</li>
				                        <li>50GB Monthly Bandwidth</li>
				                        <li>50 Domains</li>
				                        <li>Unlimited Subdomains</li>
				                    </ul>
				                </div><!-- /  CONTENT BOX-->
				                <div class="pricingTable-sign-up">
				                    <a href="#" class="btn btn-block btn-default">order now</a>
				                </div><!-- BUTTON BOX-->
				            </div>
				        </div>

				        <div class="col-md-3 col-sm-6">
		                    <div class="pricingTable">
		                        <div class="pricingTable-header">
		                        <div class="heading">
		                            <h3>Business</h3>
		                            <span>Lorem ipsum</span>
		                            <span class="sale-wrapper"><span class="sale">offer</span></span>
		                        </div>
		                            <span class="price-value">$<span>20.9</span><span class="mo">/month</span></span>
		                        </div>

		                        <div class="pricingContent">
		                            <ul>
		                                <li>50GB Disk Space</li>
		                                <li>50 Email Accounts</li>
		                                <li>50GB Monthly Bandwidth</li>
		                                <li>50 Domains</li>
		                                <li>Unlimited Subdomains</li>
		                            </ul>
		                        </div><!-- /  CONTENT BOX-->

		                        <div class="pricingTable-sign-up">
		                            <a href="#" class="btn btn-block btn-default">order now</a>
		                        </div><!-- BUTTON BOX-->
		                    </div>
		                </div>

		                <div class="col-md-3 col-sm-6">
		                    <div class="pricingTable">
		                        <div class="pricingTable-header">
		                        <div class="heading">
		                            <h3>Premium</h3>
		                            <span>Lorem ipsum</span>
		                        </div>
		                            <span class="price-value">$<span>30.9</span><span class="mo">/month</span></span>
		                        </div>

		                        <div class="pricingContent">
		                            <ul>
		                                <li>50GB Disk Space</li>
		                                <li>50 Email Accounts</li>
		                                <li>50GB Monthly Bandwidth</li>
		                                <li>50 Domains</li>
		                                <li>Unlimited Subdomains</li>
		                            </ul>
		                        </div><!-- /  CONTENT BOX-->

		                        <div class="pricingTable-sign-up">
		                            <a href="#" class="btn btn-block btn-default">order now</a>
		                        </div><!-- BUTTON BOX-->
		                    </div>
		                </div>

		                <div class="col-md-3 col-sm-6">
		                    <div class="pricingTable">
		                        <div class="pricingTable-header">
		                        <div class="heading">
		                            <h3>Extra</h3>
		                            <span>Lorem ipsum</span>
		                        </div>
		                            <span class="price-value">$<span>40.9</span><span class="mo">/month</span></span>
		                        </div>

		                        <div class="pricingContent">
		                            <ul>
		                                <li>50GB Disk Space</li>
		                                <li>50 Email Accounts</li>
		                                <li>50GB Monthly Bandwidth</li>
		                                <li>50 Domains</li>
		                                <li>Unlimited Subdomains</li>
		                            </ul>
		                        </div><!-- /  CONTENT BOX-->

		                        <div class="pricingTable-sign-up">
		                            <a href="#" class="btn btn-block btn-default">order now</a>
		                        </div><!-- BUTTON BOX-->
		                    </div>
		                </div>
				    </div>
				</div>
			</section>
			<!-- End pricing Area -->

			<!-- Start testimonial Area -->
			<section class="testimonial-area section-full">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-10">
							<div class="title text-center">
								<h1 class="mb-10">Testimonials</h1>
								<p>Who are in extremely love with eco friendly system.</p>
							</div>
						</div>
					</div>
					<div class="row">
				        <div class="col-lg-12 shdw pt-4 pb-4">
				            <div id="testimonial-slider" class="owl-carousel">
				                <div class="testimonial">
				                    <div class="pic">
				                        <img src="./assets/test-1.jpg" alt="">
				                    </div>
				                    <h3 class="testimonial-title">
				                        Williamson<small>, Client</small>
				                    </h3>
				                    <p class="description">
				                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam enim diam, tempus vel ultricies viverra, luctus in elit. Aliquam tempus blandit velit, in pharetra ex volutpat a. Cras eu augue ac nisl tempor commodo.
				                    </p>
				                </div>
				 
				                <div class="testimonial">
				                    <div class="pic">
				                        <img src="./assets/test-2.jpg" alt="">
				                    </div>
				                    <h3 class="testimonial-title">
				                        Julia<small>, Client</small>
				                    </h3>
				                    <p class="description">
				                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam enim diam, tempus vel ultricies viverra, luctus in elit. Aliquam tempus blandit velit, in pharetra ex volutpat a. Cras eu augue ac nisl tempor commodo.
				                    </p>
				                </div>

				                <div class="testimonial">
				                    <div class="pic">
				                        <img src="./assets/test-3.jpg" alt="">
				                    </div>
				                    <h3 class="testimonial-title">
				                        kristiana<small>, Client</small>
				                    </h3>
				                    <p class="description">
				                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam enim diam, tempus vel ultricies viverra, luctus in elit. Aliquam tempus blandit velit, in pharetra ex volutpat a. Cras eu augue ac nisl tempor commodo.
				                    </p>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>
			</section>
			<!-- End testimonial Area -->
		
			<!-- start footer Area -->		
			<footer class="footer-area footer-section" style="background: linear-gradient(rgba(46, 45, 47, 0.87), rgba(7, 7, 7, 0.86)),url(./assets/intro.jpeg);">
				<div class="container">
					<div class="row">
						<div class="col-lg-3  col-md-3 col-sm-6">
							<div class="single-footer-widget newsletter">
								<h6>About</h6>
								<p>Lorem ipsum dolor sit amet, iudico dummy text 
									vituperatoribus at usu cum ex vituperatoribus at usu cum ex nostrud singulis.</p>
								<p>Lorem ipsum dolor sit amet, iudico dummy text 
									vituperatoribus at usu vituperatoribus.</p>
								<div id="mc_embed_signup">
									<form  action="#" method="get" class="form-inline">

										<div class="form-group row">
											<div class="col-lg-8 col-md-8 col-sm-8">
												<input name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '" required="" type="email">
												<div style="position: absolute; left: -5000px;">
													<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
												</div>
											</div> 
										
											<div class="col-lg-4 col-md-4 col-sm-4">
												<button class="nw-btn primary-btn fa fa-paper-plane-o"></button>
											</div> 
										</div>		
									</form>
								</div>		
							</div>
						</div>
						<div class="col-lg-2  col-md-2 col-sm-6">
							<div class="single-footer-widget">
								<h6>Hot Links</h6>
								<ul class="footer-nav">
									<li><a href="post_a_job.html">Post a Job</a></li>
									<li><a href="contact.html">Contact Us</a></li>
									<li><a href="about-us.html">About Us</a></li>
									<li><a href="blog-home.html">Our Blogs</a></li>
									<li><a href="category.html">Job Category</a></li>
									<li><a href="employer_job_alerts.html">Job Alerts</a></li>
									<li><a href="price.html">Pricing Plans</a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-4  col-md-4 col-sm-6">
							<div class="single-footer-widget">
								<h6>Latest Posts</h6>
								<ul class="footer-nav">
									<li><a href="#"><i class="fa fa-minus pr-1"></i> If you need a crown or 
										lorem an implant <br> you will pay it gap </a>
										<p><small>July 2, 2018</small></p>
									</li>
									<li><a href="#"><i class="fa fa-minus pr-1"></i> If you need a crown or 
										lorem an implant<br> you will pay it gap </a>
										<p><small>Aug 9, 2018</small></p>
									</li>
									<li><a href="#"><i class="fa fa-minus pr-1"></i> If you need a crown or 
										lorem an implant<br> you will pay it gap </a>
										<p><small>Sep 20, 2018</small></p>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-3  col-md-3 col-sm-6">
							<div class="single-footer-widget mail-chimp">
								<h6 class="mb-20">Instragram Feed</h6>
								<ul class="instafeed d-flex flex-wrap">
									<li><img src="./assets/i1.jpg" alt=""></li>
									<li><img src="./assets/i2.jpg" alt=""></li>
									<li><img src="./assets/i3.jpg" alt=""></li>
									<li><img src="./assets/i4.jpg" alt=""></li>
									<li><img src="./assets/i5.jpg" alt=""></li>
									<li><img src="./assets/i6.jpg" alt=""></li>
									<li><img src="./assets/i7.jpg" alt=""></li>
									<li><img src="./assets/i8.jpg" alt=""></li>
									<li><img src="./assets/i1.jpg" alt=""></li>
									<li><img src="./assets/i2.jpg" alt=""></li>
									<li><img src="./assets/i3.jpg" alt=""></li>
									<li><img src="./assets/i4.jpg" alt=""></li>
								</ul>
							</div>
						</div>
						
												
					</div>

					
				</div>
			</footer>
			<!-- End Footer Area -->

			<!-- start Copyright Area -->
			<div class="copyright1">
				<div class="container">
					<div class="row"> 
						<div class="col-md-6 col-8">
							<div class="bottom_footer_info">
								<p>Copyright &copy; 2018. All rights reserved</p>
							</div>
						</div>
						<div class="col-md-6 col-4">
							<div class="bottom_footer_logo text-right">
								<ul class="list-inline">
					                <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
					                <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
					                <li class="list-inline-item"><a href="#"><i class="fa fa-dribbble"></i></a></li>
					                <li class="list-inline-item"><a href="#"><i class="fa fa-behance"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Copyright Area -->	

			<script src="js/vendor/jquery-2.2.4.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="js/vendor/bootstrap.min.js"></script>			
			<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
  			<script src="js/easing.min.js"></script>			
			<script src="js/hoverIntent.js"></script>
			<script src="js/superfish.min.js"></script>	
			<script src="js/jquery.ajaxchimp.min.js"></script>
			<script src="js/jquery.magnific-popup.min.js"></script>	
			<script src="js/owl.carousel.min.js"></script>			
			<script src="js/jquery.sticky.js"></script>
			<script src="js/jquery.nice-select.min.js"></script>			
			<script src="js/parallax.min.js"></script>		
			<script src="js/mail-script.js"></script>	
			<script src="js/main.js"></script>	
		</body>
	</html>



